* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}

.header {
    text-align: center;
    margin-top: 60px;
}

button {
    position: relative;
    top: 10%;
    left: 45%;
}

@media (max-width:600px) {
    button {
        left: 120px;
    }
}